@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
}

.card {
  margin: 0 auto;
  width: 350px;
  min-height: 700px;
  border: 4px solid #000;
}
.avatar {
  width: 100%;
}
.intro-title {
  font-size: 32px;
}
.intro-desc {
  margin-top: 20px;
  font-size: 14px;
}
.data {
  padding: 20px;
}
.skill {
  padding: 5px;
  height: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.skillsList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
